<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Password</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link ref="stylesheet" href="main.CSS"> -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
   <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <a href="/"id="logo">
        <img src="/static/logo.png" Style="position:left; left:80;"><a href="/"></a>
        
        
    </a>

<style>body {
    margin: 0;
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
 
    justify-content: left;
    background: rgb(72,25,122);
    background: linear-gradient(0deg, rgba(72,25,122,0.8578781854538691) 0%, rgba(179,145,215,0.7990546560421043) 13%, rgba(198,186,212,0.8046568969384629) 31%, rgba(235,234,237,1) 50%, rgba(243,241,246,1) 60%, rgba(255,255,255,255) 100%);
}</style>
</head>
<body>
    <div class="container" style="float:center">
    <form method="POST" enctype = "multipart/form-data" style="padding-left:60px;">
        <div class="row">
            <div class="col">
    <label for="email">Hello, </label>
    </div>
    </div>
    <div class="row">
        <div class="col">
    <label for="pass">Please enter the provided password:</label>
   
 
            <input type="password" name="pass" size="30" required> <!-- onclick="window.href = '/password';" --> 
            <button type="submit" name="auth"  class="btn btn-primary btn-sm" value="all" Style="height:28px;  background-color: #742D9B;">  Authenticate</button>
            </div>
            </div>

    </div>
</form>
</body>
</html>